table{
    margin: 10px 10px ;
    width: 98%;
    position: static;
}
table, th, td{
    border: 1px solid #fff;
    border-collapse: collapse;
}
th{
    font-size: 2rem;
    height: 50px;
    color: #fff;
    text-transform: uppercase;
}
td{
    width: 400px;
    height: 350px;
    position: static;
}
td p{
    
    width: 80%;
    padding: 20px;
    margin-left: 15px;
    height:300px ;
    color: #fff;
    font-size: 18px;
}
td:hover p{
    border: 1px solid #fff;
    box-shadow: 2px 2px 4px rgba(165, 8, 8, 0.993);
}